/**
 * Custom calendar skin.
 */

.calendar-view-table {
  --calendar-view-columns: 7;
  --calendar-view-color-white: #fff;
  --calendar-view-color-light: #f4f4f4;
  --calendar-view-color-grey: #ccc;
  --calendar-view-color-gray: #555;
  --calendar-view-color-evil: #666;
  --calendar-view-color-dark: #333;
}

.calendar-view-table tr,
.calendar-view-table thead,
.calendar-view-table tbody {
  /** Headers and rows **/
}

.calendar-view-table caption {
  /** Title (i.e. name of the month) **/
}

.calendar-view-table thead {
  /** Table header usually have a different background color. **/
  /** background: var(--calendar-view-color-dark); **/
}

.calendar-view-table td,
.calendar-view-table th {
  /** Cells, usually have a border color. **/
  /** border: 1px solid var(--calendar-view-color-grey); **/
}

.calendar-view-table .calendar-view-day {
  /** Inside cells. **/
}

.calendar-view-table .calendar-view-day:not(.empty) {
  /** Inside a cell with results. **/
}

.calendar-view-table .calendar-view-day__number {
  /** The day. **/
}

.calendar-view-table .next-month .calendar-view-day__number,
.calendar-view-table .previous-month .calendar-view-day__number {
  /** Past and future days. Usually different from current month's days **/
  /** background: var(--calendar-view-color-gray); **/
}

.calendar-view-table .calendar-view-day__row {
  /** A View result row**/
}

.calendar-view-table .next-month,
.calendar-view-table .previous-month {
  /** Past and future days. Usually different from current month's days **/
  /** background: var(--calendar-view-color-gray); **/
}

.calendar-view-pager {
  /** Navigation by month **/
}

/** Mobile. **/
/** Usually breaks at 768px (i.e. 48rem) **/
/**
@media(max-width: 48rem) {
  ...
}
**/
