{#
/**
 * @file
 * Default theme implementation to display a view in a Calendar style.
 *
 * Default available variables :
 * - title: The title of this group of rows. May be empty.
 * - calendar: The calendar created in template preprocess.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * Custom available variables :
 * - calendar_filters: The date fields selected for this Calendar.
 * - calendar_weekday_start: The day to start a calendar row.
 *
 * @see template_preprocess_views_view_calendar()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}


{{ attach_library ('calendar_view/calendar_view') }}

{{ calendar }}

{# Uncomment to display results below calendar #}
{# May be useful to display a result on hover on its date for instance. #}
{# See examples in the online documentation guide: @TODO add link #}
{#
{% for row in rows %}
  {% set row_classes = [ default_row_class ? 'views-row'] %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
#}
